@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome!</h1>

<section>
    <p>Please provide your email and upload file that you want to share with!</p>

    <form>
        <div class="form-group">
            <label for="file">Select file</label>
            <input type="file" id="file" class="form-control-file" accept=".docx" required />
            <div class="invalid-feedback">Please select a .docx file.</div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" required />
            <div class="invalid-feedback">Please enter a valid email address.</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</section>